In [1]:
import pandas as pd #for data processing
import numpy as np #for numerical operations
import seaborn as sns #for statistical visualization
import plotly.express as px #for statistical visualization
import matplotlib.pyplot as plt #for visualization
import scipy.stats as scp #for mathematical stats

In [2]:
vehicles_df = pd.read_csv('vehicles.csv', index_col=0)

In [3]:
total_rows, total_attributes = vehicles_df.shape
print('Total Rows:', total_rows)
print("Total Columns/Attributes:", total_attributes)

vehicles_df.head()

Total Rows: 426880
Total Columns/Attributes: 25

,url,region,region_url,price,year,manufacturer,model,condition,cylinders,fuel,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
id,,,,,,,,,,,,,,,,,,,,,
7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [4]:
vehicles_df.describe()

,price,year,odometer,county,lat,long
count,4.268800e+05,425675.000000,4.224800e+05,0.0,420331.000000,420331.000000
mean,7.519903e+04,2011.235191,9.804333e+04,NaN,38.493940,-94.748599
std,1.218228e+07,9.452120,2.138815e+05,NaN,5.841533,18.365462
min,0.000000e+00,1900.000000,0.000000e+00,NaN,-84.122245,-159.827728
25%,5.900000e+03,2008.000000,3.770400e+04,NaN,34.601900,-111.939847
50%,1.395000e+04,2013.000000,8.554800e+04,NaN,39.150100,-88.432600
75%,2.648575e+04,2017.000000,1.335425e+05,NaN,42.398900,-80.832039
max,3.736929e+09,2022.000000,1.000000e+07,NaN,82.390818,173.885502

In [5]:
# Column overview
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 426880 entries, 7222695916 to 7301591129
Data columns (total 25 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   url           426880 non-null  object
 1   region        426880 non-null  object
 2   region_url    426880 non-null  object
 3   price         426880 non-null  int64
 4   year          425675 non-null  float64
 5   manufacturer  409234 non-null  object
 6   model         421603 non-null  object
 7   condition     252776 non-null  object
 8   cylinders     249202 non-null  object
 9   fuel          423867 non-null  object
 10  odometer      422480 non-null  float64
 11  title_status  418638 non-null  object
 12  transmission  424324 non-null  object
 13  VIN           265838 non-null  object
 14  drive         296313 non-null  object
 15  size          120519 non-null  object
 16  type          334022 non-null  object
 17  paint_color   296677 non-null  object
 18  image_url     426812 non-null  object
 19  description   426810 non-null  object
 20  county        0 non-null       float64
 21  state         426880 non-null  object
 22  lat           420331 non-null  float64
 23  long          420331 non-null  float64
 24  posting_date  426812 non-null  object
dtypes: float64(5), int64(1), object(19)
memory usage: 84.7+ MB